.table-fixed {
  width: 80%;
}
.table-fixed tbody {
  height: 300px;
  overflow-y: auto;
  width: 85%;
}
.table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
  display: inline-block;
}
