<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Filter update</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss(); checkIfNewFilterIsCloseEditing()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group row">
        <label for="filterName" class="col-sm-2 col-form-label">Filter name</label>
        <div class="col-sm-10">
          <input *ngIf="!newFilter" id="filterName" class="form-control" name="updateFilterName" [(ngModel)]="filters.filterName">
          <input *ngIf="newFilter && filters" id="newfilterName2" class="form-control" name="newFilterName2" [(ngModel)]="filters.filterName">
        </div>
      </div>
      <div class="form-group row">
        <h2 class="col-sm-2 col-form-label">Criteria</h2>
        <table class="table table-fixed">
          <tbody>
          <app-criteria [criteriaType]="'Amount'" [criteriaList]="filters?.amounts" [criteriaTypeList]="amountCriteriaType"></app-criteria>
          <app-criteria [criteriaType]="'Title'" [criteriaList]="filters?.titles" [criteriaTypeList]="titleCriteriaType"></app-criteria>
          <app-criteria [criteriaType]="'Date'" [criteriaList]="filters?.dates" [criteriaTypeList]="dateCriteriaType"></app-criteria>

          <tr>
            <td scope="row">
              <select [(ngModel)]="newAttribute.type" name="selectType" id='selectType' class="form-control" (change)="getSelectedCriteria()">
                <option *ngFor="let type of filterTypes"
                        [ngValue]="type"
                        [selected]="type === 'Amount'"
                >
                  {{type}}
                </option>
              </select>
            </td>
            <td scope="row">
              <select [(ngModel)]="newAttribute.compareCondition" name="selectCriteria" id='selectCriteria' class="form-control">
                <option *ngFor="let criteria of selectCriteriaType" [ngValue]="criteria">
                  {{criteria}}
                </option>
              </select>
            </td>
            <td scope="row">
              <input *ngIf="newAttribute.type === 'Amount'" class="form-control" type="number" id="saveNumber" [(ngModel)]="newAttribute.number" name="saveNumber" />
              <input *ngIf="newAttribute.type === 'Title'" class="form-control" type="text" id="saveTitle" [(ngModel)]="newAttribute.text" name="saveTitle" />
              <input *ngIf="newAttribute.type === 'Date'" class="form-control" type="date" id="saveDate" [(ngModel)]="newAttribute.date" name="saveDate" />
            </td>
            <td scope="row">
              <button class="btn btn-default" type="button" (click)="addFieldValue(newAttribute.type); createSelectListForCriterias()">Add</button>
            </td>
          </tr>

          </tbody>
        </table>
        <h2 class="col-sm-2 col-form-label">Selection</h2>
        <div class="container">
            <div class="row" *ngIf="newFilter">
              <div class="col-auto" *ngFor="let name of numberOfCriterias">
                <input type="checkbox" [name]="name" (change)="onChange($event)" [disabled]="isChecked && (isCheckedName!=name)"> {{'Select ' + name}}
              </div>
            </div>
            <div class="row" *ngIf="!newFilter">
              <div class="col-auto" *ngFor="let name of numberOfCriterias">
                <input type="checkbox" [name]="name" (change)="onChange($event)" [disabled]="name != filters.selectedFilter && isCheckedName != name && !isChecked" [checked]="name === filters.selectedFilter"> {{'Select ' + name}}
              </div>
            </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-danger mr-auto" (click)="modal.close('Close'); checkIfNewFilterIsCloseEditing()">Close</button>
    <button type="button" class="btn btn-outline-success" (click)="modal.close('Save click'); saveFilter()">Save</button>
  </div>
</ng-template>
<ng-template #newFilterNaming let-modal2>
  <div class="modal-header">
    <h4 class="modal-title" id="modalNewFilterName">New Filters name</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal2.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group row">
      <label for="filterName" class="col-sm-2 col-form-label">Filter name</label>
      <div class="col-sm-10">
        <input *ngIf="newFilter" id="newfilterName" class="form-control" name="newFilterName" [(ngModel)]="newAttribute.filterName">
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-danger mr-auto" (click)="modal2.close('Close')">Close</button>
    <button type="button" class="btn btn-outline-success" (click)="saveFilter(); modal2.close('Next'); open(content)">Next</button>
  </div>
</ng-template>

<button *ngIf="!newFilter && (filters !== undefined && filters !== null)" class="btn btn-lg btn-outline-primary float-left" (click)="open(content)">{{ filters.filterName }}</button>
<button *ngIf="!newFilter && (filters !== undefined && filters !== null)" class="btn btn-lg btn-outline-danger float-right" (click)="deleteFilter(filters.id)">X</button>
<button *ngIf="newFilter" class="btn btn-lg btn-outline-dark" (click)="open(newFilterNaming)">Add Filter</button>
