<div class="content" role="main">
  <table class="table w-50 mx-auto">
    <thead>
    <tr align="center">
      <th scope="col">
        <h3 class="float-left">
          Filter Name
        </h3>
        <h4 class="float-right">
          Action
        </h4>
      </th>
    </tr>
    </thead>
    <tr align="center" *ngFor="let filter of filters; index as i">
      <th>
        <app-modal [filters]="filter" [newFilter]="false"></app-modal>
      </th>
    </tr>
    <tr align="center">
      <th>
        <app-modal [filters]="" [newFilter]="true"></app-modal>
      </th>
    </tr>
  </table>
</div>
